<nav class="navbar">
  <div class="logo">
    <img src="/assets/logo2.png" alt="" />
    <img src="/assets/logo.png" alt="Logo da Simple Plan" />
  </div>
  <div class="saudacoes">
    <button routerLink="/home">
      <img style="width: 50px" src="/assets/home.png" alt="" />
    </button>
  </div>
</nav>
<div class="card-backgrond">
  <div class="card">
    <div class="card-body">
      <div class="container">
        <div class="search-container">
          <div class="button-group">
            <button class="btn" (click)="openModalRegister()">
              <span class="icon">➕</span> Adicionar
            </button>
            <button class="btn" (click)="openModalEdit()">
              <span class="icon">✏️</span> Editar
            </button>
          <input
            class="search-bar"
            matInput
            type="text"
            placeholder="Pesquisar Venda"
            (keyup)="applyFilter($event)"
          />
          <span class="search-icon">🔍</span>
          
          </div>
        </div>
        
        <div class="table-container">
          <table
            mat-table
            [dataSource]="dataSource"
            class="mat-elevation-z8"
            cellspacing="10"
            id="datatables"
          >

            <ng-container matColumnDef="nome_Empresa">
              <th mat-header-cell  *matHeaderCellDef>Nome Empresa</th>
              <td mat-cell *matCellDef="let sales">
              {{sales.nome_Empresa}}
              </td>
            </ng-container>

            <ng-container matColumnDef="produto_Vendido">
              <th mat-header-cell *matHeaderCellDef>Produto Vendido</th>
              <td mat-cell *matCellDef="let sales">
               {{sales.produto_Vendido}}
              </td>
            </ng-container>

            <ng-container matColumnDef="quantidade_Vendida">
              <th mat-header-cell *matHeaderCellDef>Quantidade Vendida</th>
              <td mat-cell *matCellDef="let sales">
               {{sales.quantidade_Vendida}}
              </td>
            </ng-container>

            <ng-container matColumnDef="local_Vendido">
              <th mat-header-cell *matHeaderCellDef>Local Vendido</th>
              <td mat-cell *matCellDef="let sales">
              {{sales.local_Vendido}}
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let sales">
                <button
                  style="background: transparent; border: none"
                  (click)="deleteSale(sales)"
                >
                  <fa-icon
                    style="color: rgb(163, 26, 26); cursor: pointer"
                    [icon]="faTrash"
                  ></fa-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"
            (click)="onRowClick(row)"
             ></tr>
          </table>

          <mat-paginator
            class="paginator"
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
