<title>Página Inicial</title>
<div class="container">
  <nav class="navbar">
    <div class="logo">
        <img src="/assets/logo2.png" alt="">
        <img src="/assets/logo.png" alt="Logo da Simple Plan">
    </div>
   
    <div class="saudacoes">
      <a routerLink="/userPage">
        <img src="/assets/dados.png" alt="Ícone de usuário">
      </a>
       <a href="https://github.com/Kostylll/PIM_III_SPRINTS/blob/main/MANUAL%20DE%20USO/MANUAL%20DE%20UTILIZAÇÃO.pdf" target="_blank">
         <img src="/assets/ajuda.png" alt="">

       </a> 
       <button (click)="logOut()" >
         <img  src="/assets/saida.png" alt="">
       </button>
    </div>
</nav>
  
<div class="grid-container">
  <button routerLink="/supply" class="grid-item"><img class="image-button" src="/assets/supplyLogo.png" alt=""></button>
  <button routerLink="/products" class="grid-item"><img class="image-button" src="/assets/produção.png" alt=""></button>
  <button routerLink="/sales" class="grid-item"><img class="image-button" src="/assets/vendas.png" alt=""></button>
 
</div>
    


    
  </div>