<title>Produto</title>
<div class="container">
  <nav class="navbar">
    <div class="logo">
      <img src="/assets/logo2.png" alt="" />
      <img src="/assets/logo.png" alt="Logo da Simple Plan" />
    </div>
    <div class="saudacoes">
      <button routerLink="/home">
        <img style="width: 50px" src="/assets/home.png" alt="" />
      </button>
    </div>
  </nav>
  <div class="card-backgrond">
    <div class="card">
      <div class="card-body">
        <div class="table-container">
          <div class="btn-container">
            <button class="btn-top-left">Adicionar Produto</button>
            <button class="btn-top-left2">Alterar Produto</button>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Modelo</th>
                  <th scope="col">Cor</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Preço</th>
                  <th scope="col">Descrição</th>
                  <th></th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
