<title>Produtos</title>
<div class="container">
  <nav class="navbar">
    <div class="logo">
      <img src="/assets/logo2.png" alt="" />
      <img src="/assets/logo.png" alt="Logo da Simple Plan" />
    </div>
    <div class="saudacoes">
      <button routerLink="/home">
        <img style="width: 50px" src="/assets/home.png" alt="" />
      </button>
    </div>
  </nav>
  <div class="card-backgrond">
    <div class="card">
      <div class="card-body">
        <div class="table-container">
          <div class="btn-container">
            <button class="btn-top-left">Adicionar Produto</button>
            <button
              class="btn-top-left2"
              (click)="openModal()"
              (click)="doStuff()"
            >
              Alterar Produto
              
            </button>
            <table
            id="datatables"
            *ngIf="dataTable && dataTable.header"
            class="table"
            >
            <thead>
                <tr>
                  <th *ngFor="let itemHeader of dataTable.header">
                    {{ itemHeader }}
                  </th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th *ngFor="let itemFooter of dataTable.footer">
                    {{ itemFooter }}
                  </th>
                </tr>
              </tfoot>
              <tbody>
                <tr
                  *ngFor="let car of dataTable.dataRows"
                  (click)="onSelected(car); showToast('Item selecionado!')"
                >
                  <td>{{ car.model }}</td>
                  <td>{{ car.color }}</td>
                  <td>{{ car.type }}</td>
                  <td>{{ car.price }}</td>
                  <td>{{ car.description }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
